body{
    background-image: url(6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    padding : 100px 350px; 
    background-size: cover;
}
#d{
    color: darkcyan;
    background-color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#s{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    width: 40%;
    border: 2px solid #5D5D61;
    background-color: white;
    color: black;
    height: 40px;
    font-size: 20px;
}
#s:hover{
    background-color: rgba(0, 0, 0, 0.726);
        color: lightblue;
        transition: 0.4s;
}